<style type="text/css">
@keyframes prominent {
  from {
    color: #006aa4;
  }

  to {
    color: #d40700;
  }
}

#lec-slides-link {
  animation: prominent 500ms infinite alternate;
}
</style>
<h1><a id="lec-slides-link" href="https://drive.google.com/drive/folders/1zP7YNmZXCYnAP8MrEiaf1Ov28ESpXR0s?usp=sharing" target="_blank">Link to Lecture Slides</a></h1>

<h2 id="lec">Lecture Notes:</h2>
<table class="asn_table">

<tr>
  <th class="asn_desc" >lecture date</th>
  <th class="asn_num"  >notes</th>
  <th class="asn_ready">ready?</th>
  <th class="asn_desc" >description</th>
  <th class="asn_reading" >reading</th>
</tr>

{% for lect in site.lectures %}
 
<tr class={% if lect.ready %}"ready"{% else %}"not-ready"{% endif %} >
  <td class="lect_num" >{{lect.lecture_date}}</td>
  <td class="lect_num" ><a href="{{lect.url | relative_url }}">{{ lect.num }}</a></td>
  <td class="lect_ready">{{lect.ready}}</td>
  <td class="lect_desc" >{{lect.desc }}</td>
  <td class="lect_desc" >{{lect.reading }}</td>
</tr>

{% if lect.last_before %}
<tr><th colspan="5">{{lect.last_before}}</th></tr>
{% endif %}

{% endfor %}
</table>
